<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>recovery password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
        href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="" />
    <style>
        hd-txt {
            font-size: 13px;
            margin-bottom: 15px;
            padding-top: 5px;
            text-align: left;
        }

        .mrgn {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <navbar> </navbar>

    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <h2>Password Recovery Steps</h2>
    <div>
        <h4>Please set your new password as mentioned below:</h4>
        <p class="hd-txt"></p>
        <ul>
            <li>
                Please Enter One time Password sent on <%=email %>
            </li>
            <li>
                Please set your new password for L&amp;T Metro Rail (Hyderabad)
                Limited
            </li>
            <li>
                If you have not received an email yet,you may have to wait for few
                minutes and further check spam/junk folder.
            </li>
            <p></p>
        </ul>
        <form action="/verify_forgot_password" method="post">

            <div class="span12 mrgn">
                <div class="span4" style="width:200px">
                    <div class="hd-txt">One Time Password<span style="color:red;">*</span></div>
                </div>

                <div class="span8">
                    <input class="hd-txt-input" id="OTP" name="OTP" type="password">
                </div>
            </div>
        
            <div class="span12 mrgn">
                <div class="span4" style="width:200px">
                    <div class="hd-txt">New password<span style="color:red;">*</span></div>
                </div>

                <div class="span8">
                    <input class="hd-txt-input" id="NewPassword" name="NewPassword" type="password">
                    <br>
                    <span style="font-size:11px; margin:0px; padding:0px;">
                        Enter at least 8 character including alphabets, numbers and one special character.
                    </span>
                </div>
            </div>

            <div class="span12 mrgn">
                <div class="span4" style="width:200px">
                    <div class="hd-txt">Confirm New Password<span style="color:red;">*</span></div>
                </div>

                <div class="span8">
                    <input class="hd-txt-input" id="ConfirmNewPassword" name="ConfirmNewPassword" type="password">
                </div>
            </div>
            <div class="span12 mrgn">
                <div class="span4" style="width:200px">

                </div>

                <div class="span8">
                    <input name="" type="submit" value="Save" class="btn btn-primary">

                    <input type="button" value="Cancel" class="btn-primary" style="min-width:150px;"></a>
                </div>
            </div>
        </form>





    </div>

    <script src="" async defer></script>
</body>

</html>